.posts {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	background-color: black;
	background-image: url('https://media2.giphy.com/media/3ohs7T1ljes6v7EdFe/giphy.gif?cid=ecf05e47tl07smci9rayu8c5nu2eyuc02o7xqnsp30trwq7g&rid=giphy.gif&ct=s');
	background-size: cover;
	overflow: scroll;
    align-items: center;
    padding-top: 20px;
}

.posts-container {
	flex: 1 1 auto;
	flex-direction: column;
	gap: 20px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
    color: white;
}

.forum-cards {
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
    min-width: 333px;
    max-width: 740px;
}

.forum-cards-header {
    border-bottom: 1px solid white;
}
